.main {
    background-image: url("https://drzhivago.ru/images/slider/slide2.jpg");
    background-position: bottom right;
    background-size: cover;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 999px) {
        height: calc(100vh - 80px);
    }

}