.main {
    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;


    width: 100%;

}

.news {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

h1 {
    font-weight: 400;
    margin: 20px 5px;
}